# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
#lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ignore the tmp file that we use for storage of chute info right now
paradrop/tmp
tmp


#End boilerplate ignores

#Ignore compiled output 
*.snap

buildenv/*

paradrop/dist
paradrop/build

pdtools/build

docs/_build
docs/_static
docs/_templates

*.img
*.swp
*.pyc

.DS_STORE

TESTS

*.xz
pid.txt
log.txt
third-party/

# snapcraft
paradrop/prime
paradrop/stage
tools/stage
tools/prime
