attrs==16.0.0
autobahn==0.15.0
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.0
cffi==1.7.0
colorama==0.3.7
coverage==4.1
cryptography==1.4
docker-py==1.10.6
docopt==0.6.2
enum34==1.1.6
funcsigs==1.0.2
idna>=2.0
ipaddress==1.0.16
jsonpatch==1.15
mock==2.0.0
nose==1.3.7
pbr==1.10.0
psutil==4.3
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.16
pycurl==7.43.0
pyOpenSSL==16.0.0
PyYAML==3.11
requests==2.15.1
service-identity==16.0.0
setuptools==28.8.0
six==1.10.0
smokesignal==0.7.0
Twisted==16.2.0
txaio==2.5.1
txdbus==1.0.13
websocket-client==0.37.0
zope.interface==4.2.0
txmsgpackrpc==1.1
txsockjs==1.2.2
klein==16.12.0
