attrs==16.3.0
autobahn==0.17.0
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.1
cffi==1.9.1
colorama==0.3.7
constantly==15.1.0
cryptography==1.6
docker-py==1.10.6
docker-pycreds==0.2.1
enum34==1.1.6
idna==2.1
incremental==16.10.1
ipaddress==1.0.17
msgpack-python==0.4.8
psutil==5.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
pycurl==7.43.0
pyOpenSSL==16.2.0
PyYAML==3.12
requests==2.12.3
service-identity==16.0.0
six==1.10.0
smokesignal==0.7.0
Twisted==16.6.0
txaio==2.5.2
txdbus==1.0.13
txmsgpackrpc==1.1
txrestapi==0.2
websocket-client==0.40.0
wget==3.2
zope.interface==4.3.2
